
<form>
    
    <h3 id="basicInf">R</h3>
</form>
<script>
        var name2 = localStorage.getItem("object_name3");
        var value1 = JSON.parse(name2);
        document.getElementById('basicInf').innerHTML ="Вы " + value1  +" Исследователь космоса ";
    </script>